{% extends 'base.html.twig' %}

{% block title %}Hello AjoutArticleController!
{% endblock %}

{% block body %}

	<h1>Produit ajout</h1>

	{{ form_start(form_article) }}
	{{ form_row(form_article.nom) }}
	{{ form_row(form_article.image) }}
	{{ form_row(form_article.prix) }}
	{{ form_row(form_article.description) }}
  

	{# <form action="form.php" method="post">
		<div>
			<label for="categ">Choose a category:</label>
			<select name="categ" id="categ">
				{% for categorie in categories %}
					<option>{{ categorie.titre }}</option>
				{% endfor %}

			</select>

		</div>
		

         <button type="submit" class="btn">Register</button>
	</form> #}

    <button type="submit" class="btn">Register</button>
   
	{{ form_end(form_article) }}


{% endblock %}
